@use '../imports/imports.scss' as *;

@mixin baseBtnStyle() {
    background: black;
    border: 0;
    border-radius: 6px;
    margin: 30px auto;
    text-transform: uppercase;
    transition: .3s ease all;
    display: inline-block;
    @include buttonStyle(#FFF);

    &:hover {
        background: $forest;
        text-decoration: none;
    }

    >a,
    >span {
        padding: 15px 30px;
        display: flex;
    }
}

@mixin buttonHoverFx {
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out 0s;

    span,
    a {
        z-index: 2;
        position: relative;
        transition: all 0.5s ease-in-out 0s;
    }

    // &::before {
    //   background-color: $forest;
    //   content: "";
    //   transform: translateX(-150%);
    //   position: absolute;
    //   left: 0px;
    //   top: 0px;
    //   height: 140%;
    //   width: 200%;
    //   transition: all 0.5s ease-in-out 0s;
    // }

    // &:hover::before {
    //   transform: translateX(-50%);
    // }

}


button {
    background: transparent;
    border: 0;
    border-radius: 3px;

    &:not(.flat) {
        @include baseBtnStyle;
        @include buttonHoverFx;
        color: #fff;
        display: flex;

        &.bright {
            background: $sage;

            &:hover {
                background: $forest;
            }

            .icon {
                filter: invert(1);
            }
        }

        &.centered {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        .icon {
            padding-right: 30px;

            .icon {
                padding-right: 0;
            }
        }
    }

    &.align-left {
        margin-left: 0;
    }
}


button,
.button {
    a {
        color: inherit;
        text-decoration: none;

        &:hover,
        a:hover {
            text-decoration: none;
        }
    }
}

// fake the button! 
.introduction p a {
    @include baseBtnStyle;
}

button:hover {
    cursor: pointer;
}

button {
    display: flex;
    align-items: center;
}

button.light {
    * {
        color: white;
    }

    img {
        filter: invert(1);
    }
}

button {
    .icon {
        padding-left: 15px;
    }
}


// button hover fx

.circle-btn:not(.flat) {
    width: 100px;
    height: 100px;

    &.big {
        width: 200px;
        height: 200px;
    }

    // &.bright {
    //   // a {

    //   // }
    //   // position: relative;

    //   // &:before {
    //   //   content: "";
    //   //   height: 100%;
    //   //   width: 100%;
    //   //   position: absolute;
    //   //   background: url('/tree.svg') no-repeat $sage top;
    //   //   background-attachment: scroll;
    //   //   background-size: contain;
    //   //   background-attachment: fixed;
    //   // }


    // }


    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    a {
        transition: .3s ease all;
        background: rgba($sage, 0.7);
        padding: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
    }

    &:hover {
        a {
            background: rgba($gray, 0.6);

        }
    }
}