// BREAKPOINTS 

$full-padded-container: 1280px;
$big-container: 1050px;
$collapse-bp: 768px;
$nav-bp: 1288px;
$mobile-bp: 960px;
$narrow-container: 960px;
$xs-bp: 640px;

$transition: .5s ease-in all;
$spacer: 15px;

// MIXINS 

// $sage: #9bd279;
$sage: #699455;
$gray: #131313;
$purple: #B38AFF;
$forest: #4d643f;
$white: #fff;
$brown: #2f1500;
$mobile-bp: 960px;

@mixin h1Style($color: #fff) {
  font-family: 'Atkinson Hyperlegible', Arial, Helvetica, sans-serif;
  font-size: 72px;
  line-height: 80px;
  font-weight: 700;
  letter-spacing: 2%;

  @media (max-width: $mobile-bp) {
    font-size: 36px;
    line-height: 40px;
  }
}

@mixin h2Style($color: #fff) {
  font-family: 'Atkinson Hyperlegible', Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.02px;
  font-weight: 400;
  color: $color;

  @media (max-width: $mobile-bp) {
    font-size: 24px;
    line-height: 30px;
  }

}

@mixin h3Style($color: #fff) {
  font-family: 'Atkinson Hyperlegible', Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color;

  @media (max-width: $mobile-bp) {
    font-size: 24px;
    line-height: 30px;
  }
}


@mixin pStyle($color: #fff) {
  font-family: 'Atkinson Hyperlegible', Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.02px;
  font-weight: 400;
  color: $color;

  @media (max-width: $mobile-bp) {
    font-size: 16px;
    line-height: 20px;
  }
}


@mixin buttonStyle($color: #fff) {
  font-family: 'Atkinson Hyperlegible', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  color: $color;

  text-transform: uppercase;
}



@mixin pBigStyle($color: #fff) {
  font-family: 'Atkinson Hyperlegible', Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
  color: $color;
  letter-spacing: 0.09px;

  @media (max-width: $nav-bp) {
    font-size: 24px;
    line-height: 30px;
  }
}

@mixin captionStyle($color: #fff) {
  font-family: 'Atkinson Hyperlegible', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02px;
  color: $color;
}

@mixin siteContainer() {
  max-width: 960px;
  margin: 0 auto;

  @media (max-width: 960px) {
    max-width: 90%;
  }
}

@mixin siteContainerBig($extra: 200) {
  max-width: 960px + $extra;
  width: 960px + $extra;
  margin: 0 auto;

  @media (max-width: ($mobile-bp + $extra)) {
    max-width: 90%;
    width: 90%;
  }
}

@keyframes bounceIn {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(100px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}